<% content_for(:title, t('.title')) %>
<div class="d-flex flex-column min-vh-100">
  <div class="container pb-4">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <h1 class="text-center mb-4"><%= t('.title') %></h1>
        <%= form_with(model: @recipe, local: true, turbo: false ,class: "needs-validation") do |f| %>
          <div class="mb-3">
            <%= f.label :title %>
            <%= f.text_field :title, value: @recipe.title %>
          </div>
          <div class="mb-3">
            <%= f.label :genre, class: "form-label" %>
            <%= f.select :genre, Recipe.genres_i18n.invert, { include_blank: "ジャンルを選択してください" }, class: 'form-control', id: 'recipe_genre' %>
          </div>
          <div class="mb-3">
            <%= f.label :materials, "材料", class: "form-label" %>
            <%= text_area_tag :materials, params[:materials], rows: 5, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= f.label :process, "作り方", class: "form-label" %>
            <%= f.text_area :process, rows: 5, class: "form-control" , id: 'recipe_process' %>
          </div>
          <div class="mb-3">
            <%= f.label :release, class: "form-label" %>
            <%= f.select :release, Recipe.releases_i18n.invert, {}, class: 'form-control', id: 'recipe_release' %>
          </div>
          <div class="text-center mt-4">
            <%= f.submit nil, class: "btn btn-success" %>
            <%= link_to t('recipes.index.title'), recipes_path, class: "btn btn-outline-secondary" %>
          </div>
        <% end %>        
    </div>
  </div>
</div>
