<% content_for(:title, t('.title')) %>
<div class="d-flex flex-column min-vh-100">
  <div class="container mt-5">
    <h1 class="text-center mb-4"><%= t('.title') %></h1>
    <div class="row">

    <div class="col-md-6 mb-4">
        <h3 class="text-success"><%= t('activerecord.attributes.material.name') %></h3>
        <ul class="list-group">
          <% @materials.each do |material| %>
            <li class="list-group-item"><%= material %></li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6 mb-4">
        <h3 class="text-success"><%= t('activerecord.attributes.recipe.process') %></h3>
        <ol class="list-group">
          <% @creation_steps.each_with_index do |step, index| %>
            <li class="list-group-item"><%= step %></li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="text-center mt-4">
      <%= link_to "トップページへ", root_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
